---
layout: default
title: Music
---
<p>I <i>literally</i> cannot survive a day without listening to music. Here's what's on my ears almost 24/7</p>

<div class="playlist-list">
{% for pl in site.data.playlists %}
	<span class="playlist {% if pl.platform != "spotify" %}{{ pl.platform }}{% endif %}">
		<img src="/assets/media/playlists/{{ pl.icon }}" />
		<b>{{ pl.name }}</b>
		<i>{{ pl.description }}</i>
		<a href="{{ pl.link }}" class="button {{ pl.platform }}">Listen</a>
	</span>
{% endfor %}
</div>
