@import "styles.css";

body, h1 {
	text-align: left;
}

.entry-title h1 {
	display: inline;
}

.alt-lang {
	font-size: 20px;
	margin: 0 5px;
}

p {
	margin: 0 auto 15px;
}

img {
	width: 50%;
}

.float {
	float: right;
}

footer {
	text-align: right;
}

@media screen and (max-width: 720px) {
	.float { float: none }
}

@media screen and (max-width: 500px) {
	img { width: 90% }
}

