---
title: Blog en español
layout: default
redirect_from: /es/
---
{% assign posts=site.posts | where:"lang", page.lang %}
{% if posts.size == 0 %}
	<p>Nada que ver por acá... todavía.</p>
{% endif %}
{% for post in posts %}
	{% assign date=post.date | date: site.t['date-format'][page.lang] %}
	<div class="blog-entry">
		<h2 id="{{ post.slug }}"> {{ post.title }}</h2>
		<small class="timestamp">{{ date }}</small>
		<small class="links">[<a href="#{{ post.slug }}">link</a>&mdash;<a href="{{ post.url }}">standalone</a>]</small>
		
		{{ post.excerpt }}
	</div>

	<hr>
{% endfor %}
