---
title: Blog en español
layout: default
redirect_from: /es/
---
{% assign posts=site.posts | where:"lang", page.lang %}
{% if posts.size == 0 %}
	<p>Nada que ver por acá... todavía.</p>
{% endif %}
{% for post in posts %}
	{% assign date=post.date | date: site.t['date-format'][page.lang] %}
	<div class="blog-entry">
		<a href="{{ post.url }}"><h2 id="{{ post.slug }}">{{ post.title }}</h2></a>
		<small class="timestamp">{{ date }}</small>
		{% if post.tags.size != 0 %}
			<small class="links">Tags:
				{{ post.tags | join: ', ' | capitalize }}
			</small>
		{% endif %}
		
		{{ post.excerpt }}
	</div>

	<hr>
{% endfor %}
